<div class="page-header">
  <h1>Page 2</h1>
</div>

<form>
  <div class="form-group">
    <label for="whatever1">Whatever</label>
    <input type="text" class="form-control" id="whatever1" placeholder="Whatever">
  </div>
  <div class="form-group">
    <label for="Whatever2">Whatever</label>
    <input type="text" class="form-control" id="Whatever2" placeholder="Whatever">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
